[submodule "themes/roxo-hugo"]
	path = themes/roxo-hugo
	url = https://github.com/StaticMania/roxo-hugo.git
[submodule "themes/vncnt-hugo"]
	path = themes/vncnt-hugo
	url = https://github.com/fncnt/vncnt-hugo
